#config-overlay {
  text-align: center;
}

#config-overlay h2 {
  margin: 1rem 0;
}

.form-control {
  margin: 1rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  transition: 1s;
}

.form-control input {
  font: inherit;
  border: 1px solid rgb(204, 225, 202);
  width: 50%;
  max-width: 15rem;
  padding: 0.3rem;
}

.error label,
.error input {
  color: rgb(216, 78, 53);
}

#config-game {
  width: 90%;
  max-width: 40rem;
  margin: 0.5rem auto;
  text-align: center;
  border-radius: 5px;
}

#config-game ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#config-game li {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.559);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#config-game h2 {
  font-size: 1rem;
  margin: 0.5rem;
}

#config-game h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  color: black;
}

.player-symbol {
  font-size: 4rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem 0;
}