
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  color: rgb(70, 117, 62);
  background-color: rgb(204, 225, 202);
}

#main-header {
  color: rgb(255, 255, 255);
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.25rem 1.25rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(70, 117, 62);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: rgb(70, 117, 62);
  border-color: rgb(70, 117, 62);
  color: rgb(255, 255, 255);
}

